@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background: black;
  color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'VT323', monospace;
  font-size: 15vw;
  text-shadow: 0px 0px 30px cornflowerblue;
  animation: anim 1s linear infinite alternate;
}

@keyframes anim {
  from {text-shadow: 0px 0px 20px cornflowerblue;color:cornflowerblue}
  to {text-shadow: 0px 0px 35px rosybrown;color:rosybrown;}
}